body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.recipe-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: darkorange;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}
.recipe-info {
    margin-bottom: 20px;
}

.ingredients ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.instructions ol {
    list-style: decimal;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}
